<div class="container"  *ngIf="singleBook">
  <div class="row">
    <section class="col-3 mt-4">
      <img src="{{singleBook.imageURL}}" alt="singleBook.title" class="w-100">
    </section>

    <section class="col-8 mt-4">
      <h2>{{singleBook.title}}</h2>
      <h5 class="text-muted">Автор: {{singleBook.author}}</h5>
      <div class="p-ratings">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        <span class="ml-3"> 5.0</span>
      </div>


      <p style="font-size: 2em">{{singleBook.price}}₴</p>
      <h5 class="text-secondary mb3" *ngIf="quantityInBasket > 0">
        У вас вже {{quantityInBasket}} одиниць цього товару в кошику
      </h5>
      <div class="d-flex justify-content-start align-items-center">
        <i
          (click)="decrementQuantity()"
          class="fa fa-minus-circle mx-2"
          style="cursor: pointer; font-size: 2em;"></i>
        <span class="font-weight-bold" style="font-size: 1.5em;">
          {{quantity}}
        </span>
        <i
          (click)="incrementQuantity()"
          class="fa fa-plus-circle mx-2"
          style="cursor: pointer; font-size: 2em;"></i>
        <button
          class="btn btn-outline-primary ms-4"
          (click)="updateBasket()"
          [disabled]="quantity === quantityInBasket"
        >Додати до кошика</button>
      </div>
      <div class="row mt-4">
        <h5>Жанри</h5>
        <p>{{singleBook.genre}}</p>
        <h5>Видавництво</h5>
        <p>{{singleBook.publisher.name}}</p>
        <h5>Опис</h5>
        <p>{{singleBook.description}}</p>
      </div>
    </section>
  </div>
</div>

