<div class="app">
  <aside class="sidebar">
    <app-admin-sidebar></app-admin-sidebar>
  </aside>
  <div class="container" style="margin-left: 10px;">
    <div class="row">
      <div class="col-3">
        <caption>Користувачі</caption>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Вибрати користувача</th>
              <th scope="col">ПІБ</th>
              <th scope="col">E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1"></label>
                </div>
              </td>
              <td>TEST</td>
              <td>admin@gmail.com</td>
            </tr>
          </tbody>
        </table>
        <caption>Обраний користувач:</caption>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Вибрати користувача</th>
              <th scope="col">ПІБ</th>
              <th scope="col">E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1"></label>
                </div>
              </td>
              <td>TEST</td>
              <td>admin@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-9">
        <caption>Книги</caption>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Select Day</th>
              <th scope="col">Article Name</th>
              <th scope="col">Author</th>
              <th scope="col">Words</th>
              <th scope="col">Shares</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1">1</label>
                </div>
              </td>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>Cristina</td>
              <td>913</td>
              <td>2.846</td>
            </tr>
          </tbody>
        </table>
        <caption>Рекомендації</caption>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Select Day</th>
              <th scope="col">Article Name</th>
              <th scope="col">Author</th>
              <th scope="col">Words</th>
              <th scope="col">Shares</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1">1</label>
                </div>
              </td>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>Cristina</td>
              <td>913</td>
              <td>2.846</td>
            </tr>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">2</label>
                </div>
              </td>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>Cristina</td>
              <td>1.434</td>
              <td>3.417</td>
            </tr>
          </tbody>
        </table>
        <caption>Відправлення</caption>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Select Day</th>
              <th scope="col">Article Name</th>
              <th scope="col">Author</th>
              <th scope="col">Words</th>
              <th scope="col">Shares</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1">1</label>
                </div>
              </td>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>Cristina</td>
              <td>913</td>
              <td>2.846</td>
            </tr>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">2</label>
                </div>
              </td>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>Cristina</td>
              <td>1.434</td>
              <td>3.417</td>
            </tr>
          </tbody>
        </table>
        <div class="container">
          <div class="row">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Повідомлення</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



