<ng-container *ngIf="(basketService.basketSource$ | async) as basket">
  <div class="card">
    <div class="row">
        <div class="col-md cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Кошик</b></h4></div>
                </div>
            </div>
            <table class="table main align-items-center">
              <thead class="bg-light">
                <tr>
                  <th><div class="py-2">Товар</div></th>
                  <th><div class="py-2">Назва</div></th>
                  <th><div class="py-2">Ціна</div></th>
                  <th><div class="py-2">Кількість</div></th>
                  <th><div class="py-2">Всьго</div></th>
                  <th><div class="py-2"></div></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of basket.items">
                  <td>
                    <img routerLink="/shop/{{item.id}}" style="cursor: pointer;" class="img-in-basket" src="{{item.imageURL}}">
                  </td>
                  <td>
                    <div class="col">
                      <div class="row" routerLink="/shop/{{item.id}}" style="cursor: pointer;"> {{item.productName}}</div>
                      <div class="row text-muted">Автор: {{item.authors}}</div>
                  </div>
                  </td>
                  <td class="align-middle">
                    <strong>{{item.price}} ₴</strong>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex align-items-center">
                      <i class="fa fa-minus-circle me-2"
                      style="cursor: pointer; font-size: 1.5em;"
                      (click)="removeitem(item.id, 1)"></i>
                      <strong style="font-size: 1.5em">{{item.quantity}}</strong>
                      <i class="fa fa-plus-circle mx-2"
                      style="cursor: pointer; font-size: 1.5em;"
                      (click)="incrementQuantity(item)"></i>
                    </div>
                  </td>
                  <td class="align-middle">
                    <strong>{{item.price * item.quantity}}₴</strong>
                  </td>
                  <td class="align-middle">
                    <span class="close" (click)="removeitem(item.id, item.quantity)"
                    style="font-size: 1em; cursor: pointer;">&#10005;</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="back-to-shop"><a routerLink="/shop">&leftarrow;</a><span class="text-muted">Повернутися до покупок</span></div>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-md cart">
       <app-order-totals></app-order-totals>
        <a routerLink="/checkout" class="btn">
          Перейти до оформлення замовлення
        </a>
      </div>
    </div>
  </div>

</ng-container>

<div  *ngIf="(basketService.basketSource$ | async) === null" class="container-fluid  mt-100">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <img src="/assets/images/empty_basket.jpg" width="130" height="130" class="img-fluid mb-4 mr-3">
            <h3><strong>На жаль ваш кошик порожній :(</strong></h3>
            <h4> Але ви завжди можете щось додати, тож не зволікайте! ヽ(°□° )ノ</h4>
            <div class="back-to-shop"><a routerLink="/shop" style="text-decoration: none;">&leftarrow; <span class="text-muted">Повернутися до покупок</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

